# chapter 2 : Variable
 - integer
 - float
 - string
 - boolean

In [72]:
# 여러 이름 동시에 할당
one = un = uno = 1 #할당 순서는 뒤에서부터!!

#각종 변수명, 연산자 등 함께 쓸 때 띄어쓰기 신경쓰기

one

1

In [73]:
#one의 값을 바꾸면 다른 un,uno의 값은 바뀔까?

one = 11

print(one,uno)

#불변객체이기 때문에 바뀌지 않음

11 1

In [74]:
id(one),id(uno)

#id 값을 확인해봐도 둘의 주소는 같지 않음

(140660716006000, 140660716005680)

In [75]:
#리스트의 경우에는 어떨까?

list1 = [2, 4, 6]
list2 = list1

list1, list2

([2, 4, 6], [2, 4, 6])

In [76]:
id(list1),id(list2)

#두 리스트의 id값을 확인하면 같은 것을 확인할 수 있음

(140660196732416, 140660196732416)

In [77]:
#리스트의 값을 변경하고 두 리스트의 값을 확인해보자

list1[0] = 9

list1, list2

#리스트는 대표적인 가변객체이기 때문

([9, 4, 6], [9, 4, 6])

In [78]:
id(list1),id(list2)

#id 또한 그대로같은 것을 확인가능!

(140660196732416, 140660196732416)

## 좋은 변수명 만들기
- 간결하고 명확하게
- 의미를 담도록
a, b, c ...
- 코드에는 의미, 주석에는 의도가 담긴다
    - 예:the number of students--> n < the_number_of_students < num_students
    
    - 카멜 표기법: numStudents (표기한 모습이 낙타의 등과 같아 카멜표기법이라 부름)

## 자료형 변환, 형 변환
- str(),int(),float(),bool() 을 통해 형 변환 가능

In [79]:
a = 10

#str
str(a)


#float
float(a)


#bool
bool(a) #True 와 False 총 두가지 값만 가지기 때문에 어떤 값이 False인지 잘 알아두기

True

### 형 변환 시 주의할 점
#### 주의 1. float -> int

In [80]:
x = 11.42 #소수점 내림
int(x)

11

In [81]:
y=19.8

print(int(x + y)) #x와 y를 더한 값을 정수형으로 변환
print(int(x) + int(y)) #x와 y를 각각 정수형으로 변환 후 덧셈 연산

31
30

#### 주의 2. str -> int/float

In [82]:
i = '15'
int(i),float(i)

#정상적으로 작동함을 확인가능

(15, 15.0)

In [83]:
j = '20.1'
int(j) #20.1은 정수형으로 변환할 수 없으므로 오류가 발생한다

ValueError: invalid literal for int() with base 10: '20.1'

## print() 관련된 꿀팁들

In [84]:
peach = 'peach'
grape = 'grape'
apple = 'apple'

print(peach + grape + apple) #공백 없음, \n 있음
print(peach, grape, apple) #공백 있음, \n 있음

peachgrapeapple
peach grape apple

In [85]:
print(peach, grape, apple, sep = ' ', end = '\n') #기본 default
print(peach, grape, apple, sep = ':', end = '\n\n')
print("EOF")

peach grape apple
peach:grape:apple

EOF

In [86]:
print("My favorite fruit is ",peach, '.') #지양해야 할 방식

print(f'My favorite fruit is {peach}.') #f 스트링 (편하다!)

My favorite fruit is  peach .
My favorite fruit is peach.

In [87]:
#코드 줄이 짧을 때에는 ';'(세미콜론)을 이용해 한 줄로 만들 수 있음

peach = 'pink' ; grape = 'purple' ; apple = 'red' 

print(peach, grape, apple)

pink purple red

## input() 함수

- 콘솔에서 사용자가 입력한 값을 받을 수 있는 함수
- 입력된 값은 모두 문자열로 인식되어진다
- 입력받은 값을 변수에 저장할 것!
- !주의! = 알맞은 자료형으로 변환하여 사용할 것 (ex. int(input(...)), float(input(...)))

In [88]:
input("helloo")

helloo Hi

'Hi'

In [89]:
input("How old are you?") #입력받은 값을 문자열로 취급
int(input("How old are you?")) #입력받은 값을 정수형으로 변환

How old are you? 21
How old are you? 21

21

In [90]:
#input 할 때 변수에 값을 할당하기
#1. 
age = int(input("나이가 어떻게 되세요?"))

age

나이가 어떻게 되세요? 21

21

In [91]:
#2. 
print("나이가 어떻게 되세요?")
age = int(input())

나이가 어떻게 되세요?

 21

In [92]:
age

21

### quiz 1
- 섭씨온도를 입력받아 화씨온도로 변환하기
- 화씨 = 섭씨 * 1.8 = 32

In [94]:
#quiz 1

temp_celsius = float(input("섭씨 온도는 ?"))
temp_fahrenheit = temp_celsius * 1.8 + 32
print(f"화씨 온도는 {temp_fahrenheit}")

섭씨 온도는 ? 15

화씨 온도는 59.0

### quiz 2
- 택배 정보를 입력받고 총 합계 계산하기
- 출력값:
    - '==택배 정보=='
    - 수취인 성명: 
    - 수취인 주소:
    - 배송비 : 3000원
    - 물건비용 : 원
    - 총 합계 : 원
- 물건비용: 무게(g) * 5
- 합계 = 배송비 + 물건비용

In [95]:
#quiz 2

name = input("당신의 이름을 입력하세요: ")
addres = input("당신의 주소를 입력하세요: ")
weight = float(input("물건의 무게를 입력하세요: "))
shipping_fee = 3000

print()
print("==택배 정보==")
print(f"수취인 성명:{name}")
print(f"수취인 주소:{addres}")
print(f"배송비:{shipping_fee}원")
print(f"물건 비용:{weight * 5}원")
print(f"총 합계:{shipping_fee + weight * 5}원")

당신의 이름을 입력하세요:  김용우
당신의 주소를 입력하세요:  서울특별시 동대문구 이문로 107
물건의 무게를 입력하세요:  150

==택배 정보==
수취인 성명:김용우
수취인 주소:서울특별시 동대문구 이문로 107
배송비:3000원
물건 비용:750.0원
총 합계:3750.0원

# chapter 3: Numbers

### boolean
- 형 변환 시 True or False 를 잘 기억할 것
    - '',0,None...
- 조건식에서 자주 쓰임 ex.만약 True(or False)라면 ...

In [96]:
bool(1)

True

In [97]:
bool(None)

False

### integer
- 소수점 없음
- default는 양수, 음수는 앞에 -를 붙임
- 숫자 앞에 0은 붙일 수 없음. ex)05(x)
    - 예외: 진수표현 0b..0x...0o...
- 리터럴: 4
- 공백은 무시
- 10,000원 = 10, 000원 두개로 인식
    - 언더바(_)이용해서 해결
    - 10_000

In [98]:
# 음수표현 

minus = -172

minus + 72

-100

In [99]:
#정수 앞에 0을 쓸 수 없음

no_zero = 00124

no_zero

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1722350857.py, line 3)

In [100]:
#공백은 무시

no_space = 12 + 4          - 32

no_space

-16

In [101]:
#언더바 사용법

underbar = 10_000

underbar

10000

### 연산
- 연산자 | operator : +, - , * ...
- 피연산자 | operand : 연산을 당하는 숫자 등 ...
- 수식 | expression

In [102]:
x = 8
y = 3

x + y
x - y
x * y
x / y

x ** y #거듭제곱 표현

512

In [103]:
# 나눗셈에서 주의할 사항

#1. 0으로 나눌 수 없음 (위의 사례에서 y는 0이 될 수 없음)
#2. 몫, 나머지 표현
x // y, x % y, x / y

(2, 2, 2.6666666666666665)

In [104]:
#divmod() --> 몫 과 나머지를 튜플 형태로 반환
divmod(x, y)

(2, 2)

### 복합대입연산자 | compound assignment operator

In [105]:
a = 7
a = a - 4
print(a)

3

In [106]:
a = a - 4

#1. a - 3 을 계산한다
#2. 임시변수 temp에 a - 3을 할당
#3. 마지막으로 a = a - 3
#이 과정을 간단히 다음과 같이 표기 가능

a -= 4

In [107]:
#-= 외에도 다음 복합대입연산자 존재

a += 4
a -= 4
a *= 4
a /= 4

In [108]:
u = u + 1
# u + 1 을 u에 대입하는 과정이므로 u가 먼저 초기화되지 않으면 오류가 발생한다.
# 값을 잘 초기화시킬 것!!!

NameError: name 'u' is not defined

#### quiz 3. 
- 정수를 입력받고 3의배수인지 확인
- 홀수인지 확인

In [1]:
#quiz 3

num = int(input("정수를 입력하세요: "))
print(num % 3 == 0)
print(num % 2 == 1)

정수를 입력하세요:  21

True
True

### 지수 표현
- e, E 둘다 가능
- 앞 부분은 float, int 형
- 뒷 부분은 int 자료형만
    - e 기준 뒷 부분 양수일 경우 0 앞으로
    - e 기준 뒷 부분 음수일 경우 0 뒤로 (소수점)

In [2]:
3.0e8 #float 형

300000000.0

In [9]:
#0.000789를 표현해보자!
7.89e-4
789e-6

#0.00789e-1 같이 사용하지 않음

0.000789

### if, 조건문
- code structure

### 코드 짜는 법
- 주석 다는 법
    - 설명하는 부분
    - 목적 의도를 표현
    - '#' hash, sharp ...
    - 시작된 부분부터 그 라인 끝까지가 주석
    - 문자열 안에 들어있는 #는 문자로 인식
    - """ """
- 라인 유지하기 
    - 들여쓰기 , 공백 4개 , 탭 1개
    - 한 줄에 최대 80개
    - 백 슬래시로 끊어 쓸 수 있음

In [10]:
a = 3 #라인 끝
b = 5

In [12]:
example = 'hey ###'
print(example)

"""
주석
주석
주석
"""

#코드에서 볼 수 있지만 결과에 영향을 미치지 않음

hey ###

'\n주석\n주석\n주석\n'

- 조건 1개  
if:  
&nbsp;&nbsp;&nbsp;&nbsp;<실행할 코드>

In [13]:
if 100 != 79:
    print("YAY!")

YAY!

- 조건 2개  
if:  
    &nbsp;&nbsp;&nbsp;&nbsp;<실행할 코드1>  
else:  
    &nbsp;&nbsp;&nbsp;&nbsp;<실행할 코드2>

In [15]:
if 100 == 79:
    print("YAY")
else:
    print("HEY")

HEY

#### 조건 3개 이상
if:  
&nbsp;&nbsp;&nbsp;&nbsp;<실행할 코드1>  
elif:  
&nbsp;&nbsp;&nbsp;&nbsp;<실행할 코드2>  
...else:  
&nbsp;&nbsp;&nbsp;&nbsp;<실행할 코드3>

In [16]:
if 100 == 79:
    print("YAY")
elif 100 == 69:
    print("HEY")
else:
    print("YES")

YES

### 비교 연산자
- x < y, x <= y
- x > y, x >= y
- x == y(값을 비교)
- x != y(값을 비교)
- x is y(값, 메모리 주소를 비교)
- x is not y(값, 메모리 주소를 비교)

#### quiz 4
- 학점 부여하기
- 학점을 입력
    - 90점 이상 A
    - 80 B
    - 70 C
    - 그 외 D
- 변수 설정에 유의할 것
- print 예쁘게 해보기

In [22]:
#quiz 4

score = int(input("학점을 입력하세요: "))

if score >= 90:
    print(f"{score}점은 A입니다.")
elif score >= 80:
    print(f"{score}점은 B입니다.")
elif score >= 70:
    print(f"{score}점은 C입니다.")
else:
    print(f"{score}점은 D입니다.")

#print를 한번에 할 수도 있음!! grade = 이런식으로 받아서 마지막에만 출력

학점을 입력하세요:  85

85점은 B입니다.

#### quiz 5
- 아이디와 비번을 입력받아 둘다 일치할 시 로그인
- 아이디, 비번은 각자 지정
- 일치하지 않을 시 창의적으로 출력

In [21]:
#quiz 5

user_id = 'yongwoo'
user_pwd = 'a1221'

input_id = input("아이디를 입력하세요: ")
input_pwd = input("비밀번호를 입력하세요: ")

print()

if user_id == input_id and user_pwd == input_pwd:
    print(f"{user_id}님 반갑습니다!")
else:
    print(f"아이디 또는 비밀번호가 일치하지 않습니다.")

아이디를 입력하세요:  yongwoo
비밀번호를 입력하세요:  a1221

yongwoo님 반갑습니다!

### 논리연산자
- 여러 조건식 비교할 때 사용
- 예: 10 < x < 20
    - 위 표현은 파이썬에서만 가능
    - (x > 10) 혹은 (x < 20)
- and(&): 둘다 참일때만 True
- or(|): 둘 중 하나만 참이여도 True
- not: True -> False, False -> True

#### quiz 5
- quiz 1 확장판
- 결석횟수를 받아서 점수가 80점 이상이고 결석횟수 두번 이상이면 F, 나머지는 그대로
- 두 방법으로 해보기
    - 논리연산자
    - if 2번 크게 사용

In [23]:
# quiz 5
# verson1 논리연산자

score = int(input("학점을 입력하세요: "))
absence = int(input("결석횟수를 입력하세요: "))
grade = ''

if score >= 80 and absence >= 2:
    grade = 'F'
elif score >= 90 and absence < 2:
    grade = 'A'
elif score >= 80 and absence < 2:
    grade = 'B'
elif score > 70:
    grade = 'C'
else:
    grade = 'D'
    
print(f"당신의 점수는 {score}, 결석횟수 {absence}이므로 학점은 {grade}입니다.")

학점을 입력하세요:  85
결석횟수를 입력하세요:  3

당신의 점수는 85, 결석횟수 3이므로 학점은 F입니다.

In [25]:
# quiz 5
# version2 if 크게 2번 사용

score = int(input("학점을 입력하세요: "))
absence = int(input("결석횟수를 입력하세요: "))
grade = ''


if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score > 70:
    grade = 'C'
else:
    grade = 'D'

if absence >= 2 and score >= 80:
    grade = 'F'
    
print(f"당신의 점수는 {score}, 결석횟수 {absence}이므로 학점은 {grade}입니다.")

학점을 입력하세요:  85
결석횟수를 입력하세요:  3

당신의 점수는 85, 결석횟수 3이므로 학점은 F입니다.