## Dictionary
- 영어 사전
    - 단어: 뜻 
    - 키: 값
    - 순서가 없음
    - '키로 값을 찾는다'
        - 키는 중복이 안되는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입 : dict
    - 형변환: 'dict()'
    - 중괄호 사용: {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a:[1, 2, 3, 4]

In [1]:
a = [1,2,3]
a[0]

1

In [6]:
empty = dict()
empty = {} #set 이 아닌 dict
#set 또한 {} 사용
empty = set()
type(empty)

set

In [7]:
a = {1,2,3} #set
a = {1:'apple', 2:'banana', 3:'kiwi'} #dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [9]:
b = {'','','','','',''} #dictionary 편하게 만들기
b = dict(apple = 'a', banana = 'b', kiwi = 'c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [20]:
#출석부로 딕셔너리 만들기
#이름, 학번, 학과
#james 202201 경제학과
#laura 202202 스페인어과
#louis 202202 컴공과
info = {202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis','컴공과']}
info
# 고유한 값을 가지는 학번을 키로 딕셔너리 생성!

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### 형 변환

In [21]:
# dict() 이용해서 형변환 두개 짝지어서 있을 때 가능
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [22]:
# 튜플도 가능
ex2 = [(1, 2), (2, 3), (2, 3)]
dict(ex2)

{1: 2, 2: 3}

In [23]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)
#두글자 넘을 시 오류

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [3]:
pythons = {#성: 이름
    'Chapman':'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [25]:
pythons['Idle'] # 키를 가지고 밸류를 찾을 수 있음

'Eric'

In [29]:
pythons['Hwa'] = 'Chloe' #추가

In [30]:
pythons['Idle'] = 'James' #변경
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [31]:
# 예외 없이
'Hwa' in pythons

True

In [34]:
#get()
pythons.get('Lee',0) #없을 시 None 반환 반환값 설정가능

0

### 전체 조회
- keys()
- values()
- items()

In [39]:
pythons.keys() #사용하기 위해서는 리스트로 형 변환할 것
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [37]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [38]:
pythons.items() #키와 값이 튜플형태로 <= 순회할때 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [41]:
for k, v in pythons.items(): #list comprehension
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [42]:
[(k,v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [46]:
[k[1] for k in pythons.items()] #0 은 키값, 1은 밸류값

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [48]:
[k for k in pythons] #아무것도 없으면 keys

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [51]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8
num_leg = {}
for k in range(len(animal)):
    num_leg[animal[k]] = legs[k]
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [57]:
# pythons 에서 성, 이름, 성은 첫글자만, 이름은 글자 개수로 이뤄진 튜플 리스트로 반환
new_pythons = []
for k in pythons.keys():
    new_pythons.append((k[0],len(pythons[k])))
new_pythons

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [58]:
#itmes() 돌아라
[(k[0],len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

In [59]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [60]:
others = {
    'Marx' : 'Groucho',
    'Howard': 'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [62]:
#update 이용하기
pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [63]:
#py 3
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [65]:
#삭제
del pythons['Hwa']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [66]:
del pythons['Lee']
#없는거 삭제할 시 오류 발생

KeyError: 'Lee'

In [67]:
pythons.pop('Marx')
#pop 사용하기

'Groucho'

In [69]:
pythons.pop('Lee',0) #없으면 예외는 발생, 반환 값 지정 가능

0

In [70]:
#전체 삭제
pythons.clear()
pythons={}
pythons

{}

### 복제
- 할당: b = a
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy

In [71]:
# 리스트와 비슷한 논리로 바뀜
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [72]:
#얕은 복사
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [73]:
# 값이 가변객체일 시 얕은 복사로 해결 불가능
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [74]:
#깊은 복사
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 비교
- 같다, 다르다 만 된다

In [75]:
a == b

False

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성:pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del (x)
4. sorted 이용해서 값 정렬하기 i)key, ii)value

In [77]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [93]:
solar_dict = dict(zip(solar_kor,solar_eng))
solar_dict['명왕성'] = 'pluto'
for i in list(solar_dict.keys()):
    if not i.endswith('성'):
        del solar_dict[i]
solar_dict = sorted(solar_dict.items())
solar_dict = sorted(solar_dict, key = lambda x:x[1])
solar_dict

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [100]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
system['명왕성'] = 'pluto'

{k: v for k,v in system.items() if k.endswith('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### 컴프리헨션

In [95]:
#리스트 컴프리헨션 후 형변환 할 시 비효율적
letter = 'apple'
#ex) a:1, p:2 ~~
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [96]:
#단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'
#word 순회
#vowels 순회

{v:word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [99]:
{w:word.count(w) for w in set(word) if w in vowels}

{'a': 2, 'o': 4, 'e': 1, 'i': 1}

### sorting

In [105]:
sorted(system.items(),key = fx)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [104]:
def fx(x):
    return x[1]

In [106]:
sorted(system.items(),key = lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- 중복이 없다
- 집합 -> 교집합, 합집합, 차집합, ...
- bag. 인덱싱도 없다

In [107]:
empty = set()
empty

set()

In [108]:
a = {1, 2, 3}
a

{1, 2, 3}

In [109]:
a = set((1,2,3))
a

{1, 2, 3}

In [111]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [112]:
#삭제
a.remove(4)
a

{1, 2, 3}

In [121]:
drinks = {
    'martini' : {'vodka', 'vermouth'}
    , 'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream','kahlua','vodka'},
    'manhattan': {'rye','vermouth','bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}
#vodka가 포함된 술 출력
#vodka는 있지만 cream, vermouth 없는 술 출력
for i in drinks:
    if 'vodka' in drinks[i]:
        print(i)
print()
for i in drinks:
    if 'vodka' in drinks[i] and 'cream' not in drinks[i] and 'vermouth' not in drinks[i]:
        print(i)

martini
black russian
white russian
screwdriver

black russian
screwdriver

In [125]:
a = {1, 2, 3}
b = {2, 3, 4}
# 교집합 | intersection
a.intersection(b)
a & b
# 합집합 | union
a.union(b)
a | b
# 차집합 | difference
a.difference(b)
a - b, b - a

({1}, {4})

In [133]:
for k, v in drinks.items():
    if v & {'vodka'} and not {'cream','vermouth'} & v:
        print(k)

black russian
screwdriver

In [134]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [135]:
#frozenset
set([1,2])
frozenset([1,2])

frozenset({1, 2})

### 팀 프로젝트 
- 퀴즈 대신 교수님이 내주신 테스크 해결
- 정시에 수업 들어와서 짠 코드 설명

In [137]:
#pip install pylint

Requirement already satisfied: pylint in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (2.9.6)
Requirement already satisfied: toml>=0.7.1 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from pylint) (0.10.2)
Requirement already satisfied: astroid<2.7,>=2.6.5 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from pylint) (2.6.6)
Requirement already satisfied: isort<6,>=4.2.5 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from pylint) (5.9.3)
Requirement already satisfied: mccabe<0.7,>=0.6 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from pylint) (0.6.1)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
Requirement already satisfied: wrapt<1.13,>=1.11 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
Requirement already satisfied: setuptools>=20.0 in /Users/gim-yong-u/opt/anaconda3/lib/python3.9/site-packages (from astroid<2.7,>=2.6.5->pylint) (58.0.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# !pylint example.py 
# !pip install pydocstyle
# !pydocstyle example.py